body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #ffaeae6e;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
	/* border: 1px solid; */
	padding: 0px 10px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
	/* gap: 38%; */
	background: antiquewhite;
	/* border-top: none; */
	box-shadow: 1px 1px 14px black;
	margin-bottom: 67px;
	width: -webkit-fill-available;
}
nav > a > button {
	border: none;
	background: greenyellow;
	padding: 10px;
	border-radius: 50px;
	font-size: xxx-large;
	height: 70px;
}
nav > a > button:hover {
	background-color: red;
	color: white;
}

nav a {
	text-decoration: none;
	color: inherit;
	margin: auto 0px;
}

nav > h3 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: xx-large;
	font-weight: 900;
	margin-right: -14%;
}

nav > div > button {
	height: fit-content;
	/* display: flex; */
	margin: auto 0px;
	background: none;
	border: none;
	font-size: large;
	font-family: auto;
}

nav > div > button:hover {
	color: red;
}

nav > div {
	display: flex;
	gap: 80px;
}
nav > div > a {
	align-self: center;
	background: red;
	color: white;
	font-size: large;
	border-radius: 10px;
}

nav > div > a:active {
	box-shadow: 1px 1px 8px black;
}
nav > div > a > button {
	background: none;
	border: none;
	color: white;
	padding-bottom: 5px;
}
form {
	display: flex;
	flex-direction: column;
	width: 30%;
	/* height: 20em; */
	margin: 85px auto;
	gap: 18px;
	/* border: 1px solid; */
	border-radius: 10px;
	padding: 20px 13px;
	background: aliceblue;
	box-shadow: 1px 1px 10px black;
}

form > button {
	width: 56px;
	margin: 0px auto;
	border: none;
	background: #00fb36;
	padding: 6px;
	border-radius: 7px;
	color: white;
}

label {
	padding: 3px;
}

input {
	height: 27px;
	width: 95%;
	font-family: inherit;
	background: #f6c4fa;
	border-radius: 6px;
	border: none;
	padding-left: 7px;
}

select {
	width: 110px;
	height: 30px;
	border-radius: 6px;
	border: none;
	background: #f6c4fa;
}

textarea {
	width: 95%;
	height: 7em;
	padding: 5px;
	font-family: inherit;
	border-radius: 6px;
	border: none;
	background: #f6c4fa;
}

.habit-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: #c0fbd9;
	border-radius: 10px;
	width: 40%;
	margin: 4px auto;
	/* border-bottom: 1px solid black; */
	padding: 23px 7px 4px 10px;
	box-shadow: 1px 1px 9px 1px black;
}

.position {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.position > h3 {
	font-variant: small-caps;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: brown;
	margin: 0px;
}

caption {
	font-size: 13px;
}

.position p {
	opacity: 61%;
	font-size: 13px;
}

.habit-list > h1 {
	text-align: center;
	margin: 100px;
}

.hr {
	width: 100%;
	background: black;
	height: 1px;
}

.habit-card select {
	width: 80px;
	height: 25px;
	border-radius: 6px;
	border: none;
	background: #f6c4fa;
}
.position > button {
	border: none;
	background: red;
	color: white;
	border-radius: 5px;
	padding: 6px;
	margin-top: 10px;
}

.weekly-view {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.days-row {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 6em;
	margin: 0px auto;
	padding: 10px;
	background: black;
	border-bottom: 1px solid;
	margin-top: -67px;
	color: white;
}

.day-label {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: center;
	border-right: 1px solid;
	/* padding-right: 17px; */
	padding-inline: 30px;
	margin-right: 0px;
}
.habit-info {
	display: flex;
	justify-content: space-between;
}

.habit-info > p,
.habit-info > h3 {
	margin: 0px;
}

.p-w-15 {
	padding: 9px;
	width: 45%;
	/* margin-left: 9px; */
	margin: auto;
	margin-left: 28.5%;
}

.habit-status-row {
	gap: 29px;
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	margin-top: 20px;
}

.habit-status {
	border-right: 1px solid;
	padding-inline: 17px;
}

.fit-content {
	width: 57px !important;
	margin-left: -17px;
	padding-left: 6px;
	font-size: 9px;
	background: #fbf9f9 !important;
}

.today-select {
	margin-right: 0px;
	/* padding-left: 0px; */
	margin-left: -5px;
}

.hr {
	width: 100%;
	background: black;
	height: 1px;
}

.hr2 {
	height: 1px;
	background: white;
	width: 273%;
	margin-inline: -12px;
}

.fw-600 {
	font-weight: 600;
}

.fw-100 {
	font-weight: 100;
}

.habit-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

/* Login */
.Login {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	gap: 15px;
}
.Login > Form {
	margin: auto;
	height: fit-content;
	padding: 20px;
}
.Login input {
	height: 3em;
}

.Login > span {
	text-align: center;
	color: red;
}

.Login > form > div {
	display: flex;
	justify-content: space-between;
}

.Login > form > div > button {
	border: none;
	height: 35px;
	border-radius: 10px;
	width: 18%;
	background: lawngreen;
	font-size: large;
}
.Login > form > div > button:hover {
	box-shadow: 1px 1px 9px black;
}
.Login > form > div > button:active {
	background: #eaf408;
}

.Login > form > div > a {
	align-self: center;
	text-decoration: auto;
}
.Login > form > p {
	margin: 0px 0px;
	color: red;
	opacity: 0.5;
}

@media (max-width: 768px) {
	.Login > Form {
		/* margin: auto; */
		height: -moz-fit-content;
		/* height: fit-content; */
		/* padding: 20px; */
		width: 80%;
	}

	.Login > form > div > button {
		border: none;
		height: 35px;
		border-radius: 10px;
		width: 26%;
		background: lawngreen;
		font-size: large;
	}
	nav > h3 {
		/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
		/* font-size: larger; */
		/* margin-inline: 30px; */
		/* font-weight: 900; */
		/* margin-right: -14%; */
		display: none;
	}

	form {
		/* display: flex; */
		/* flex-direction: column; */
		width: 80%;
		height: 19em;
		/* margin: 85px auto; */
		/* gap: 18px; */
		/* border: 1px solid; */
		/* border-radius: 10px; */
		/* padding: 20px 13px; */
		/* background: aliceblue; */
		/* box-shadow: 1px 1px 10px black; */
	}
	.habit-card {
		width: 94%;
		padding: 2px 8px 4px 1px;
	}
	.day-label {
		padding-inline: 6px;
	}
	.days-row {
		width: 95%;
		height: 5em;
	}
	.p-w-15 {
		padding: 6px;
		/* width: 45%; */
		margin: auto;
	}
	.habit-status-row {
		gap: 0px;
		display: flex;
		/* justify-content: space-between; */
		justify-content: center;
		margin-top: 5px;
	}
	.fit-content {
		width: 42px !important;
		margin-left: -17px;
		/* padding-left: 6px; */
		font-size: 7px;
		background: #fbf9f9 !important;
	}
	.habit-list {
		gap: 0px;
	}
	.habit-list div {
		margin-bottom: 10px;
	}
	.habit-status {
		border-right: none;
		padding-inline: 15px;
	}
	.habit-status-row > select {
		margin-right: -13px;
		margin-left: -6px;
	}

	.habit-list > div > label > select {
		margin: 0px;
		width: 68px;
		font-size: x-small;
		margin-left: 10px !important;
	}
}
